.hero-section {
  .newsletter-box {
    height: 45vh;
    margin-bottom: 100px;
    text-align: center;
    h1 {
      font-weight: 500px;
    }
    .gradient-text {
      background: linear-gradient(90deg, #23BF7C 0%, #10593A 29.17%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .subtitle-style {
      color: var(--hero-subtitle);
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0%;
      max-width: 800px;
      text-align: center;
      padding-bottom: 8px;
    }
    form{
      max-width: 520px;
      width: 100%;
      ::placeholder {
        font-size: 17px;
        font-weight: 400;
        line-height: 16px;
        opacity: 0.5;
        color: var(--text-color);
      }
      input {
        background: var(--hero-input-background) !important;
        border: none;
        border-radius: 100px;
        padding: 16px 32px;
        width: 100%;
        color: var(--text-color);
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .to-next-sec-btn-style {
      background-color: transparent;
      border: none;
      svg {
        path {
          fill: var(--text-color)
        }
      }
    }
  }
  .why-choose-us-style {
    background: var(--why-choose-us-background);
    padding: 18px 0 26px 0;
    .sub-title {
      color: var(--subtitle);
      font-size: 14px;
    }
    h2 {
      font-size: 37px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0%;
      white-space: nowrap;
    }
    .color-balck {
      color: var(--text-color)
    }
    .cstm-font {
      @media (max-width: 768px) {
        font-size: 24px !important;
      }
    }
  }
}

[dir="rtl"] .fix-question-mark {
  unicode-bidi: plaintext;
  direction: rtl;
  text-align: right;
}

.about-dataup-section {
  margin-top: 170px;

  .about-subtitle {
    font-weight: 700;
    font-style: italic;
    font-size: 16px;

  }
}

.our-services-section {
  margin-top: 170px;
  h2 {
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: capitalize;
  }
  .cstm-color {
    color: var(--hero-subtitle);
  }
}
.home-img {
  max-width: 574px;
  width: 100%;
  max-height: 432px;
}

.clients-section {
  margin-top: 100px;
}

.our-plans-section {
  margin-top: 100px;

}

.plans {
    
}